:root {
    --primary: #4834D4;
    --secondary: #22A6B3; 
    --title: #130F40; 
    --text: #6C6C75; 
    --links: #3C6382;   
    --button: #30336B; 
}
/* Global */
html {
    scroll-behavior: smooth;
}

body {
    padding: 15px 20px 0 20px;
    font-family: 'Lato', sans-serif;
}

@media (min-width: 768px){
    body{
        padding: 0 50px 0 50px;
    }

    .contenedor {
        height: 100vh;
        width: 100%;
    }
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: var(--title);
    margin: 0;
}

h2, p, a {
    font-size: 24px;
    margin: 0;
}

h2 {
    color: #4934d4c2;
}

p {
    color: var(--text);
}

a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* navegacion */

.navegacion {
    height: 80px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 94%;
}



.navegacion__logo {
    color: var(--primary);
    font-size: 28px;
    font-weight: bold; 
    margin-right: 50px;
}

.navegacion__li a {
    padding: 0.5rem;
    font-size: 20px;
    color: var(--links);
    transition: border-button 0.2s, font-size 0.2s;
}

#activado {
    display: none;
}

.navegacion__button .line{
    background-color: var(--links);
    width: 35px;
    height: 3px;
    margin-block: 10px;
    border-radius: 4px;
    transition: transform 0.3s;
    opacity: 0.8;
}

.navegacion__button, .navegacion__ul {
    z-index: 100;
}

@media (min-width: 768px){
    .navegacion__ul {
        display: flex;
    }
    .navegacion__li a:hover {
        border-bottom: 3px solid var(--secondary);
        font-size: 22px;
        background-color: #22a7b35d;
    }

    .navegacion__button, .navegacion__fondo {
        display: none;
    }
}

@media (max-width: 768px){
    .navegacion__fondo {
        position: absolute;
        background: inherit;
        transition: all 0.2s;
    }

    .navegacion__ul {
        display: none;
        position: absolute;
    }

    .navegacion__li {
        text-align: end; 
        padding: 15px 0;
        opacity: 0;
        transition: opacity 0.3s, transform 0.3s; 
    }

    #activado:checked ~ .navegacion__ul {
        display: block;
        top: 70px; 
        right: 20px;
    }

    #activado:checked ~ .navegacion__ul .navegacion__li {
        opacity: 1;
    }

    #activado:checked ~ .navegacion__fondo {
        width: 100vw;
        height: 100vh;
        top: 0; 
        right: 0;
        background: rgba(255, 253, 253, 0.25); 
        backdrop-filter: blur(5px);
    }

    #activado:checked ~ .navegacion__button .line:nth-child(1){
        transform: translateY(6.5px) rotate(45deg); 
    }

   #activado:checked ~ .navegacion__button .line:nth-child(2){
        transform: translateY(-6.5px) rotate(-45deg); 
    }

    #activado:checked ~ .navegacion__button .line{
        background-color: var(--primary);
    }

    .navegacion__li:hover{
        transform: translateX(-25px);
    }

    .navegacion__li a:hover {
        color: var(--secondary);
    }  
}

/* inicio */
.inicio__informacion {
    padding-top: 100px;
}

@media (min-width:768px) {
    .inicio {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
    .inicio__imagen {
        margin-top: 40px;
    }

    .inicio__informacion {
        padding: 0;
    }
}

.inicio__imagen {
    max-width: 100%;
    border-bottom-right-radius: 30px;
}

.inicio__informacion > p {
    color: var(--text);
    margin: 50px 0;
}

.inicio__informacion > a {
    padding: 10px 30px;
    background-color: var(--secondary);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/* cultura maya */

.cultura__informacion {
    padding-top: 100px;
}

@media (min-width:768px) {
    .cultura {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .cultura__informacion {
        padding-top: 0;
    }
    
}
.cultura__informacion {
    margin-top: 30px;
}
.cultura__informacion > h2 {
    margin: 15px 0;
}

.cultura__imagen {
    max-width: 100%;
}

/* tradiciones */ 

.fondo {
    z-index: -1;
    width: 100%;
    height: 50vh;
    position: absolute;
    left: 0;
    background-color: #4934d465;
}
.tradiciones > h1{
    text-align: center;
    padding-top: 150px;
}
.tradiciones__informacion {
    width: 100%;
    margin-top: 30px;
    height: 500px;
    overflow: auto;
}

@media (min-width: 768px) {
    .tradiciones__informacion {
        display: flex;
        align-items: center;
        justify-content: space-around;
        overflow: hidden;
        margin-top: 0;
    }
}

.tradiciones__informacion::-webkit-scrollbar {
    -webkit-appearance: none;
}

.tradiciones__informacion > div {
    z-index: -1;
    position: relative;
    margin: 30px auto; 
    padding: 20px 30px;
    border-radius: 5px;
    height: 300px;
    width: 300px;
    background-color: white; 
    box-shadow: 6px 7px 9px -1px rgba(0,0,0,0.66);
}

.tradiciones__informacion > div h3 {
    color: var(--button);
    font-size: 25px;
    font-weight: bold;
}

.tradiciones__informacion > div p {
    font-size: 20px;
    margin: 20px 0;
}

.tradiciones__informacion > div a {
    position: absolute;
    background-color: var(--button);
    padding: 10px 30px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    bottom: 30px;
    right: 25px;
}

/* nosotros */

.nosotros__informacion {
    padding-top: 100px;
}
@media (min-width:768px){
    .nosotros {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        column-gap: 30px;
    }
    .nosotros__informacion {
        padding-top: 0;
    }
}

.nosotros__informacion > p {
    margin: 30px 0; 
}

.nosotros__imagen {
    max-width: 100%;
    border-bottom-right-radius: 30px;
}
